<form method="post" action="" enctype="multipart/form-data" autocomplete="off" id="inputForm">
  {% csrf_token %}
  <input type="hidden" name="access_token" value="{{ access_token }}" id="access_token_input">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header text-center" id="input_card_header">
          <strong>Choose a type of Data Source</strong>
        </div>
        <div class="card-body bg-light">
          <p class="card-text">Select an option you prefer where your input will be coming from.</p>
          <div class="card-footer bg-light border-secondary">
            <div class="form-group">
              <select class="form-control" id="data_src_type" name="data_src_type" required>
                <option selected="true" disabled="disabled">Select Type of Data Source</option>
                <option value="1">File Upload</option>
                <option value="2">Strava Activity Link</option>
              </select>
            </div>
          </div>
        </div>
        <div id="file_opt" style="display: none;">
          <div class="card-header text-center" id="input_card_header">
            <strong>Choose a file to process</strong>
          </div>
          <div class="card-body bg-light">
            <p class="card-text">File inputs must be <strong>.gpx, .tcx and .fit</strong> file type only.</p>
          </div>
          <div class="card-footer bg-light border-secondary">
            <div id="drop-area" class="bg-light border-secondary">
              <div id="file-name">Drag & drop a file here or click to select</div>
              <input type="file" id="file-input" name="file_input" accept=".gpx,.tcx,.fit" style="display: none;">
            </div>
          </div>
        </div>
        <div id="link_opt" style="display: none;">
          <div class="card-header text-center" id="input_card_header">
            <strong>Enter Strava Activity Link or ID</strong>
          </div>
          <div class="card-body bg-light">
            <p class="card-text">eg: <strong><a href="#"
                  class="card-link">http://www.strava.com/activities/117975259</a></strong></p>
          </div>
          <div class="card-footer bg-light border-secondary">
            <div class="input-group">
              <input type="url" class="form-control" id="link_input" name="link_input"
                placeholder="http://www.strava.com/activities/117975259" />
            </div>
          </div>
        </div>
        <div id="threshold_opt" style="display: none;">
          <div class="card-header text-center" id="input_card_header">
            <strong>Set minimum threshold</strong>
          </div>
          <div class="card-body bg-light">
            <div id="currentValue">Current Value: 30</div>
          </div>
          <div class="card-footer bg-light border-secondary text-center" id="inputDurationFooterDiv"
            data-bs-toggle="tooltip" data-bs-placement="top" title="Custom Tooltip">
            <input type="range" class="form-range" min="30" max="300" step="5" name="durationRange" id="durationRange"
              value="10" required />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-6 mx-auto text-center">
      <button type="submit" class="btn btn-primary btn-block" id="startProcess" disabled="true">Submit for
        processing</button>
    </div>
  </div>
  <!-- Loading Modal -->
  <div class="modal fade text-center" id="loadingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-gradient-secondary" id="loadingModalContent">
        <div class="modal-header">
          <h6 class="modal-title w-100 text-center">Your input is processing</h6>
        </div>
        <div class="modal-body">
          <div id="bike-moving" class="fa bike-moving">&#xf206;</div>
        </div>
        <div class="modal-footer">
          <h6 class="modal-title w-100 text-center">Please wait...</h6>
        </div>
      </div>
    </div>
  </div>
  <!-- Information Modal -->
  {% if not access_token and not info %}
  <div class="modal fade bd-example-modal-xl" id="informationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header" id="modal_info_header">
          <h6 class="modal-title w-100 text-center">Limitations & Information</h6>
        </div>
        <div class="modal-body">
          <ol>
            <li>We do not save any submitted data by any user</li>
            <li>Minimum threshold duration is 30 Seconds because sampling rates for some devices/apps are between 10 to almost 30 seconds.</li>
            <li>Different File Types might have not same timestamps and sampling intervals (The gap between trackpoints)</li>
            <li>Processing time of inputs is slow due to reverse geocoding API Service by <a href="https://operations.osmfoundation.org/policies/nominatim/">Nominatim</a> that causes bottleneck in the process.</li>
            <li>Datetime of your inputted activities might be different from expected depending on the timezone of the device/app you used during the recording of the inputted activity.</li>
          </ol>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</form>